# Format Style Options - Created with Clang Power Tools
---
BasedOnStyle: LLVM
AlignConsecutiveMacros: AcrossComments
AlignConsecutiveAssignments: AcrossComments
AlignConsecutiveBitFields: AcrossComments
AlignConsecutiveDeclarations: AcrossComments
AllowShortBlocksOnASingleLine: Empty
CompactNamespaces: true
ConstructorInitializerAllOnOneLineOrOnePerLine: true
IndentCaseBlocks: true
IndentGotoLabels: false
IndentWidth: 4
KeepEmptyLinesAtTheStartOfBlocks: false
PointerAlignment: Left
SpacesInConditionalStatement: true
SpacesInSquareBrackets: true
TabWidth: 4
...
